# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build/

# production
dist

# misc
.DS_Store
*.pem

# typescript
*.tsbuildinfo
next-env.d.ts

# generated
public/sw.js
public/workbox-*.js
